@import "components/card/card.css";
@import "components/search-bar/search-bar.css";
@import "components/nav-button/nav-button.css";
@import "components/nav-pagination/nav-pagination.css";
@import "components/error404/error.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: rgb(230, 237, 238);
  --color-third: rgb(230, 237, 238);
  --font-family: system-ui;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 20px;
  display: grid;
  justify-items: center;
  gap: 10px;
  cursor: url("assets/pickle_rick_cursor_32x32.png"), auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  padding: 10px 0;
  width: 80vw;
  min-width: 300px;
}

.hidden {
  visibility: hidden;
}
